body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    font-size: 24px;
    color: #e5e7eb;
    padding: 15px 200px;
}

.imgposition {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.ul {
    list-style-type: none;
    list-style: none;
    display: flex;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.container {
    height: 400px;
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
} 

.herobackground {
    flex-direction: row;
    background-color: #1F2937;
}


.herotext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.size {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
}

.secondtext {
font-size: 18px;
color: #e5e7eb;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    color:#1F2937;
    text-align: center;
}

.items {
    max-width: 100px;
    padding: 20px;
}

.quote-container {
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    max-width: 605px;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    padding-right: 200px;
    font-weight: 600;
}



.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 18px;
}

